* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}
p {
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}
/*header*/
.header {
	background: url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 700px;
}

.header-overlay {
	background-color: rgba(51, 51, 51, 0.72);
	height: 700px;
}
.navbar-nav a {
	font-size: 1.6rem
	color: #fff;
	font-weight: bold;
}
.navbar-nav a:hover {
	color: #f9b634 !important;
	border-bottom: 3px solid #f9b634;
}

.search-btn {
	color: #f9b634;
}

/*header text*/
.header-col {
	margin-top: 150px;
}
.head-text {
	color: #fff;
	font-size: 30px;
	line-height: 36px;
}
.header-text {
	font-size: 4rem;
	color: #f9b634;
}

/*Popular and Latest row*/

.carousal-tab {
border-bottom: 3px solid #f9b634;
}
.carousal-row {
	color: #828282;
	font-size: 30px;
	line-height: 36px;
}
.carousal-row:active,
.carousal-row:hover {
	color: #000;
}

.see-more-btn {
	background-color: #f9b634;
	color: #fff;
}
.see-more-btn:active,
.see-more-btn:hover {
	color: #f9b634;
	border-color: #f9b634;
	background-color: #fff;
}
/*card styles*/
.top-border {
	width: 5%;
	border-top: 3px solid #f9b634;
}
.top-rent {
	font-size: 1.5rem;
	font-weight: bold;
}
/*all categories*/


/*footer*/
#footer {
    background: #333333;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 30px;
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	transition: .2s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a{
	color:#e8ecef;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links:hover a i {
	font-size:30px;
	margin-top:-10px;
}
.footer-text {
	font-size: 1.1rem
}

/*All categories page*/
.card-header {
	font-size: 1.3rem;
	font-weight: bolder
}
.list-group-item {
	font-weight: bold;
}
/*contact page*/
.contact-text {
	font-weight: bold;
}
.w-75 {
	margin: 0 auto;
}
.carousel-img {
	height: 150vh;
}
#form{
border-radius:2px;
padding:20px 30px;
box-shadow:0 0 15px;
font-size:16px;
font-weight:bold;
width:75%;
margin:20px 250px 0 35px;
}
h3{
text-align:center;
font-size:24px;
}
input{
width:100%;
height:35px;
margin-top:5px;
border:1px solid #999;
border-radius:3px;
padding:5px;
}
input[type=button]{
background-color:#123456;
border:1px solid white;
font-family: 'Fauna One', serif;
font-Weight:bold;
font-size:18px;
color:white;
}
textarea{
width:100%;
height:80px;
margin-top:5px;
border-radius:3px;
padding:5px;
resize:none;
}
span{
color:red
}
#note{
color:black;
font-Weight:400;
}
#returnmessage{
font-size:14px;
color:green;
text-align:center;
}